@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Laila:wght@700&family=Libre+Caslon+Display&family=Maitree:wght@600&family=Open+Sans:ital,wght@0,400;1,400;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Inter:wght@500&family=Laila:wght@700&family=Libre+Caslon+Display&family=Maitree:wght@600&family=Open+Sans:ital,wght@0,400;1,400;1,700&family=Varela+Round&display=swap');
body {
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/DesignLogo\(3\).png);
    background-size: 300px;    
}
section {
    background-color: #053782;
    display: flex;
    flex-direction: column;
    align-items: center;      
    border-radius: 5%;
    width: 600px;
    height: 865px;
    padding-top:3%;    
}
.dias {
    display: flex;
    flex-direction: row;
    justify-content: center;     
}
#materia, #hr {
    width: 470px;
    height: 60px;
    border-radius: 40px;
    border: none;
    appearance: none;
    font-size: 20px;
    padding-left: 15px;    
}
.btn-dias button {
    width: 60px;
    height: 60px;
    background-color: #053782;
    border: 2px solid #eb6737;
    border-radius: 360%;
    padding: 0%;    
}
.btn-dias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
    padding: 0%;
}
.estudando {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
}
#crono {
    width: 500px;
    height: 70px;
    border-radius: 40px;
    border: none;
    margin-top: 15%;    
    background-color: #FF8A00;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 170px;
    margin-bottom: 0%;
}
#um {
    font-size: 75px;
    font-weight: 500;    
    font-family: 'Libre Caslon Display', serif;
    margin-bottom: 0%;
    margin-top: 0%;
}
#dois {
    font-size:75px;
    font-weight: 500;
    font-family: 'Libre Caslon Display', serif;  

    margin-top: 0%;
}
h2 {
    font-size: 40px;
    font-weight: 100;
}
.dia-sem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    padding: 0%;
    position: absolute;
    margin-left: 1.5%;
    padding: 0%;
    position: absolute;
}
.btn-dias p {
    font-size: 30px;
    font-weight: 500;    
    color: #ffffff;
    margin: 0%;    
    max-width: 100%; 
    font-family: 'Inter', sans-serif;
}
h1, h2{
    color: #ffffff
}
#crono, p {
    font-family: 'Laila', sans-serif;
    font-size: 30px;
    color: #ffffff;
}
img {
    width:5px;
    height: 10pt;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:1440px) {
    body {
        padding: none;
    }
    #dias {
        display: none;
    }
}









